:host {
  display: block;
  width: 100%;
  height: 100%;
}

.youtube-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 100%;
    height: 100%;
  }

  ::ng-deep iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
