:host {
  display: block;
}

.navbar {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, var(--color-neon-purple), var(--color-neon-blue), var(--color-neon-cyan));
    opacity: 0.5;
  }
}

.nav-link:hover {
  text-shadow: 0 0 8px var(--color-neon-blue);
}
