spring:
  datasource:
    url: jdbc:h2:file:/data/watchparty;MODE=PostgreSQL;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  flyway:
    enabled: true
    locations: classpath:db/migration-h2

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

cors:
  allowed-origins: "*"
