:host {
  display: block;
}

.seek-bar {
  height: 4px;
  appearance: none;
  background: theme('colors.surface-2');
  border-radius: 2px;
  outline: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: theme('colors.neon-purple');
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: theme('colors.neon-purple');
    border: none;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.volume-slider {
  width: 70px;
  height: 4px;
  appearance: none;
  background: theme('colors.surface-2');
  border-radius: 2px;
  outline: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: theme('colors.neon-purple');
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: theme('colors.neon-purple');
    border: none;
    cursor: pointer;
  }
}
